<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="felhasznalonev" id="">
        <input type="password" name="jelszo" id="">
        <button type="submit" name="belep" >Bejelentkezés</button>
    </form>
    

</body>
</html>